div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj2575 {
position: absolute;
overflow: hidden;
top: 3px;
left: 627px;
width: 163px;
height: 147px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: none;

}
div#obj2573 {
position: absolute;
overflow: hidden;
top: 197px;
left: 623px;
width: 157px;
height: 187px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: none;

}
div#obj2571 {
position: absolute;
overflow: hidden;
top: 178px;
left: 526px;
width: 152px;
height: 163px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: none;

}
div#obj2569 {
position: absolute;
overflow: hidden;
top: 295px;
left: 498px;
width: 165px;
height: 163px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: none;

}
div#obj2567 {
position: absolute;
overflow: hidden;
top: 347px;
left: 596px;
width: 204px;
height: 202px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: none;

}
div#obj2565 {
position: absolute;
overflow: hidden;
top: 174px;
left: 724px;
width: 110px;
height: 170px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: none;

}
div#obj2577 {
position: absolute;
overflow: hidden;
top: 304px;
left: 721px;
width: 165px;
height: 163px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: none;

}
div#obj2662 {
position: absolute;
overflow: hidden;
top: 24px;
left: 306px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 34;
display:none;
pointer-events: none;

}
div#obj3534 {
position: absolute;
overflow: hidden;
top: 1045px;
left: -778px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 48;
display:none;
pointer-events: none;

}
div#obj3607 {
position: absolute;
overflow: hidden;
top: 0px;
left: -10px;
width: 1377px;
height: 780px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj3607_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1377px;
	height: 780px;
}
div#obj2486 {
position: absolute;
overflow: hidden;
top: 0px;
left: -238px;
width: 1592px;
height: 768px;
opacity: 0.3;
z-index: 1;
display:none;
pointer-events: none;

background-color: #DBDBDA;
}
img#obj2486_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1592px;
	height: 768px;
}
div#obj2484 {
position: absolute;
overflow: hidden;
top: 322px;
left: 1087px;
width: 279px;
height: 399px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: none;
-webkit-transform: rotate(-0.3868703deg);
-moz-transform: rotate(-0.3868703deg);
transform: rotate(-0.3868703deg);

}
img#obj2484_img {
	position: absolute;
	left: -44px;
	top: 8px;
	width: 366px;
	height: 384px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2482 {
position: absolute;
overflow: hidden;
top: -10px;
left: 1086px;
width: 279px;
height: 399px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: none;
-webkit-transform: rotate(-0.628698deg);
-moz-transform: rotate(-0.628698deg);
transform: rotate(-0.628698deg);

}
img#obj2482_img {
	position: absolute;
	left: -44px;
	top: 8px;
	width: 366px;
	height: 384px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2480 {
position: absolute;
overflow: hidden;
top: 315px;
left: 2px;
width: 279px;
height: 399px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: none;

}
img#obj2480_img {
	position: absolute;
	left: -44px;
	top: 8px;
	width: 366px;
	height: 384px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2478 {
position: absolute;
overflow: hidden;
top: -13px;
left: 3px;
width: 279px;
height: 399px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;
-webkit-transform: rotate(-0.2418277deg);
-moz-transform: rotate(-0.2418277deg);
transform: rotate(-0.2418277deg);

}
img#obj2478_img {
	position: absolute;
	left: -44px;
	top: 8px;
	width: 366px;
	height: 384px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2476 {
position: absolute;
overflow: hidden;
top: 316px;
left: 272px;
width: 279px;
height: 399px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: none;
-webkit-transform: rotate(-0.2418277deg);
-moz-transform: rotate(-0.2418277deg);
transform: rotate(-0.2418277deg);

}
img#obj2476_img {
	position: absolute;
	left: -44px;
	top: 8px;
	width: 366px;
	height: 384px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2474 {
position: absolute;
overflow: hidden;
top: 318px;
left: 540px;
width: 279px;
height: 399px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: none;
-webkit-transform: rotate(-0.2418277deg);
-moz-transform: rotate(-0.2418277deg);
transform: rotate(-0.2418277deg);

}
img#obj2474_img {
	position: absolute;
	left: -44px;
	top: 8px;
	width: 366px;
	height: 384px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2472 {
position: absolute;
overflow: hidden;
top: 318px;
left: 814px;
width: 279px;
height: 399px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: none;
-webkit-transform: rotate(-0.2418277deg);
-moz-transform: rotate(-0.2418277deg);
transform: rotate(-0.2418277deg);

}
img#obj2472_img {
	position: absolute;
	left: -44px;
	top: 8px;
	width: 366px;
	height: 384px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2664 {
position: absolute;
overflow: hidden;
top: 79px;
left: 553px;
width: 284px;
height: 664px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: none;

}
img#obj2664_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 284px;
	height: 664px;
}
div#obj2468 {
position: absolute;
overflow: hidden;
top: 79px;
left: 539px;
width: 314px;
height: 665px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: none;

}
img#obj2468_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 314px;
	height: 665px;
}
div#obj2514 {
position: absolute;
overflow: hidden;
top: 309px;
left: 591px;
width: 206px;
height: 179px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: auto;
-webkit-transform: rotate(3.263246deg);
-moz-transform: rotate(3.263246deg);
transform: rotate(3.263246deg);

}
img#obj2514_img {
	position: absolute;
	left: 0px;
	top: 16px;
	width: 206px;
	height: 147px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2510 {
position: absolute;
overflow: hidden;
top: 154px;
left: 530px;
width: 182px;
height: 214px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: none;
-webkit-transform: rotate(3.34062deg);
-moz-transform: rotate(3.34062deg);
transform: rotate(3.34062deg);

}
img#obj2510_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 182px;
	height: 214px;
}
div#obj2506 {
position: absolute;
overflow: hidden;
top: 17px;
left: 635px;
width: 129px;
height: 129px;
opacity: 1;
z-index: 14;
display:none;
pointer-events: none;

}
img#obj2506_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 129px;
	height: 129px;
}
div#obj2525 {
position: absolute;
overflow: hidden;
top: 137px;
left: 614px;
width: 171px;
height: 271px;
opacity: 1;
z-index: 15;
display:none;
pointer-events: none;

}
img#obj2525_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 171px;
	height: 271px;
}
div#obj2530 {
position: absolute;
overflow: hidden;
top: 290px;
left: 516px;
width: 133px;
height: 130px;
opacity: 1;
z-index: 16;
display:none;
pointer-events: none;
-webkit-transform: rotate(1.583341deg);
-moz-transform: rotate(1.583341deg);
transform: rotate(1.583341deg);

}
img#obj2530_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 133px;
	height: 130px;
}
div#obj2559 {
position: absolute;
overflow: hidden;
top: 154px;
left: 682px;
width: 162px;
height: 207px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: none;

}
img#obj2559_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 162px;
	height: 207px;
}
div#obj2563 {
position: absolute;
overflow: hidden;
top: 259px;
left: 760px;
width: 82px;
height: 178px;
opacity: 1;
z-index: 18;
display:none;
pointer-events: none;

}
img#obj2563_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 82px;
	height: 178px;
}
div#obj2518 {
position: absolute;
overflow: hidden;
top: 220px;
left: 1231px;
width: 121px;
height: 171px;
opacity: 1;
z-index: 26;
display:none;
pointer-events: auto;

}
img#obj2518_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 121px;
	height: 171px;
}
div#obj2613 {
position: absolute;
overflow: hidden;
top: 436px;
left: 1240px;
width: 123px;
height: 118px;
opacity: 1;
z-index: 27;
display:none;
pointer-events: auto;

}
img#obj2613_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 123px;
	height: 118px;
}
div#obj2488 {
position: absolute;
overflow: hidden;
top: 108px;
left: 1093px;
width: 118px;
height: 118px;
opacity: 1;
z-index: 28;
display:none;
pointer-events: auto;

}
img#obj2488_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 118px;
	height: 118px;
}
div#obj2605 {
position: absolute;
overflow: hidden;
top: 546px;
left: 1134px;
width: 191px;
height: 173px;
opacity: 1;
z-index: 29;
display:none;
pointer-events: auto;

}
img#obj2605_img {
	position: absolute;
	left: 0px;
	top: 19px;
	width: 191px;
	height: 136px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2597 {
position: absolute;
overflow: hidden;
top: -16px;
left: 1203px;
width: 148px;
height: 191px;
opacity: 1;
z-index: 30;
display:none;
pointer-events: auto;
-webkit-transform: rotate(12.22589deg);
-moz-transform: rotate(12.22589deg);
transform: rotate(12.22589deg);

}
img#obj2597_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 191px;
}
div#obj2589 {
position: absolute;
overflow: hidden;
top: 495px;
left: 282px;
width: 158px;
height: 227px;
opacity: 1;
z-index: 31;
display:none;
pointer-events: auto;

}
img#obj2589_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 158px;
	height: 227px;
}
div#obj2628 {
position: absolute;
overflow: hidden;
top: 97px;
left: 2px;
width: 159px;
height: 193px;
opacity: 1;
z-index: 32;
display:none;
pointer-events: auto;

}
img#obj2628_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 159px;
	height: 193px;
}
div#obj2636 {
position: absolute;
overflow: hidden;
top: 404px;
left: 14px;
width: 82px;
height: 178px;
opacity: 1;
z-index: 33;
display:none;
pointer-events: auto;

}
img#obj2636_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 82px;
	height: 178px;
}
div#obj2735 {
position: absolute;
overflow: hidden;
top: -27px;
left: 96px;
width: 148px;
height: 256px;
opacity: 1;
z-index: 35;
display:none;
pointer-events: auto;
-webkit-transform: rotate(179.1931deg);
-moz-transform: rotate(179.1931deg);
transform: rotate(179.1931deg);

}
img#obj2735_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 256px;
}
div#obj2726 {
position: absolute;
overflow: hidden;
top: 291px;
left: 263px;
width: 157px;
height: 179px;
opacity: 1;
z-index: 36;
display:none;
pointer-events: auto;
-webkit-transform: rotate(-0.3868703deg);
-moz-transform: rotate(-0.3868703deg);
transform: rotate(-0.3868703deg);

}
img#obj2726_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 157px;
	height: 179px;
}
div#obj2719 {
position: absolute;
overflow: hidden;
top: 449px;
left: 1112px;
width: 117px;
height: 106px;
opacity: 1;
z-index: 37;
display:none;
pointer-events: auto;

}
img#obj2719_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 117px;
	height: 106px;
}
div#obj2712 {
position: absolute;
overflow: hidden;
top: 404px;
left: 410px;
width: 134px;
height: 171px;
opacity: 1;
z-index: 38;
display:none;
pointer-events: auto;
-webkit-transform: rotate(0.4379859deg);
-moz-transform: rotate(0.4379859deg);
transform: rotate(0.4379859deg);

}
img#obj2712_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 134px;
	height: 171px;
}
div#obj2705 {
position: absolute;
overflow: hidden;
top: 324px;
left: 852px;
width: 118px;
height: 137px;
opacity: 1;
z-index: 39;
display:none;
pointer-events: auto;

}
img#obj2705_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 118px;
	height: 137px;
}
div#obj2698 {
position: absolute;
overflow: hidden;
top: 273px;
left: 95px;
width: 129px;
height: 225px;
opacity: 1;
z-index: 40;
display:none;
pointer-events: auto;

}
img#obj2698_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 129px;
	height: 225px;
}
div#obj2691 {
position: absolute;
overflow: hidden;
top: 439px;
left: 57px;
width: 192px;
height: 369px;
opacity: 1;
z-index: 41;
display:none;
pointer-events: auto;

}
img#obj2691_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 369px;
}
div#obj2742 {
position: absolute;
overflow: hidden;
top: 146px;
left: 141px;
width: 72px;
height: 83px;
opacity: 1;
z-index: 42;
display:none;
pointer-events: auto;

}
img#obj2742_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 83px;
}
div#obj2749 {
position: absolute;
overflow: hidden;
top: 489px;
left: 873px;
width: 179px;
height: 235px;
opacity: 1;
z-index: 43;
display:none;
pointer-events: auto;
-webkit-transform: rotate(-0.3868703deg);
-moz-transform: rotate(-0.3868703deg);
transform: rotate(-0.3868703deg);

}
img#obj2749_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 179px;
	height: 235px;
}
div#obj3285 {
position: absolute;
overflow: hidden;
top: 0px;
left: -10px;
width: 1377px;
height: 780px;
opacity: 1;
z-index: 44;
display:block;
pointer-events: none;

}
img#obj3285_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1377px;
	height: 780px;
}
div#obj3288 {
position: absolute;
overflow: hidden;
top: 65px;
left: 471px;
width: 640px;
height: 539px;
opacity: 1;
z-index: 45;
display:block;
pointer-events: none;

}
img#obj3288_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 640px;
	height: 539px;
}

div#obj3290 {
position: absolute;
overflow: hidden;
top: 181px;
left: 699px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 46;
display:block;
pointer-events: auto;

font-family: "Gochi-Hand-regular";
font-size: 40px;
}
div#obj3290_content {
}
div#obj3294 {
position: absolute;
overflow: hidden;
top: 522px;
left: 690px;
width: 256px;
height: 92px;
opacity: 1;
z-index: 47;
display:block;
pointer-events: auto;

border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
font-family: "Gochi-Hand-regular";
font-size: 40px;
text-align: center;
}
div#obj3294_content {
}
button#obj2049 {
	position: absolute;
overflow: hidden;
top: 25px;
left: 16px;
width: 97px;
height: 53px;
opacity: 1;
z-index: 50;
display:block;
pointer-events: auto;

	border-color: #000000;
	border-width: 3px;
	border-style: solid;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background-color: #FFB700;
	font-family:"Gochi-Hand-regular";
	font-size: 30px;
	color: #000000; 
}
button#obj2049:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }


div#obj2470 {
position: absolute;
overflow: hidden;
top: 674px;
left: 0px;
width: 1380px;
height: 94px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #666666;
background-repeat: repeat;
}








body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.SCText span.INSERT_STYLE_NAME_HERE {
	
}/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
